*.ipynb linguist-vendored

*.2d linguist-language=text
*.3d linguist-language=text
inputs linguist-language=text
*.csv linguist-language=text
Palette linguist-language=text
amrvis.defaults linguist-language=text
*.txt linguist-language=text

*.package linguist-language=Makefile
*.IAMR linguist-language=Makefile
GNUMakefile linguist-language=Makefile

*.sh linguist-language=shell

*.py linguist-language=python
*.tex linguist-documentation
*.H linguist-language=C++
