*.ipynb linguist-vendored
*.2d linguist-language=text
*.3d linguist-language=text
inputs linguist-language=text
*.IAMR linguist-language=text
*.csv linguist-language=text
Palette linguist-language=text
amrvis.defaults linguist-language=text
*.package linguist-language=Makefile
*.txt linguist-language=text

*.tex linguist-documentation
*.H linguist-language=C++
